* {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

body {
  background-color: #FAFAFA;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

