
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
}


.menu__creator {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    color: #283237;
  
    &--header {
        margin-bottom: 20px;

    h3 {
        font-family: sans-serif;
        font-size: 31.25px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 31.25px */
    }
  
    h4 {
        font-family: sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        color: var(--Blue-Grey-Main, #283237);

      }
    }
  
    &__page--options {
      color: grey;
      font-size: 14px;
    }
  
    .categories {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  
      .category__button {
        padding: 20px;
        border: 2px solid green;
        border-radius: 5px;
        background-color: white;
        font-size: 20px;
        min-width:  28rem;
        min-height: 14rem;
        cursor: pointer;
  
        &:hover {
          background-color: #f8f8f8;
        }
      }
  
      .category__button--add-new {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        border: 2px solid green;
        border-radius: 5px;
        background-color: white;
        font-size: 20px;
        min-width:  28rem;
        min-height: 14rem;
        align-content: center;
        justify-content: center;

        cursor: pointer;
  
        &:hover {
          background-color: #f8f8f8;
        }
      }
    }

    // .menu__creator--header {
    //     // padding-left: 1rem;
    // }

    .add__icon, .arrow__icon {
        padding-right: 1rem;
        cursor: pointer;
    }

    .menu__headings--container {
        display: flex;
    }

    .menu__page--options {
        padding-left: 2.5rem;
    }
  }
  