* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex; // Assuming you want to use flex to layout the sidebar and main content
}

// Constants for sidebar and header dimensions
$sidebar-width: 244px; // Sidebar width
$header-height: 60px; // Header height

.menu__creator {
  display: flex;
  flex-direction: column;
  flex-grow: 1; // Allow the menu creator to fill the available space
  margin-top: $header-height; // Push down from the header
  margin-left: $sidebar-width; // Push right from the sidebar
  padding: 3rem;
  color: #283237;
  bottom: 70rem;
  position: relative;

  &--header {
      margin-bottom: 20px;

      h3 {
          font-family: sans-serif;
          font-size: 31.25px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%; /* 31.25px */
      }

      h4 {
          font-family: sans-serif;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
          color: var(--Blue-Grey-Main, #283237);
      }
  }

  &__page--options {
      color: grey;
      font-size: 14px;
  }

  .categories {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .category__button {
          padding: 20px;
          border: 2px solid green;
          border-radius: 5px;
          background-color: white;
          font-size: 20px;
          min-width: calc((100% - (2 * $sidebar-width) - (2 * 3rem)) / 3);
          min-height: 14rem;
          cursor: pointer;

          &:hover {
              background-color: #f8f8f8;
          }
      }

      .category__button--add-new {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          border: 2px dashed green;
          border-radius: 5px;
          background-color: white;
          font-size: 20px;
          min-width: calc((100% - (2 * $sidebar-width) - (2 * 3rem)) / 3);
          min-height: 14rem;
          cursor: pointer;

          &:hover {
              background-color: #f8f8f8;
          }
      }
  }

  .add__icon, .arrow__icon {
      padding-right: 1rem;
      cursor: pointer;
  }

  .menu__headings--container {
      display: flex;
  }

  .menu__page--options {
      padding-left: 2.5rem;
  }
}
